* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppind',sans-serif;
    scroll-behavior: smooth;
}
body{
    background:#081b29;
    color: #ededed;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.navbar{
    margin-left: 100px;
}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
    text-decoration: underline;
}
.home{
    height:100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a p{
    padding: 0;
    margin-top: 15px;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}
.home-sci{
    position: absolute;
    bottom: 70px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #081b29;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .3s;
    
}
.home-sci a:hover::before{
    width: 100%;
}
.pic{
    position: absolute;
    top: 200px;
    left: 62%;
}
.pic img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    animation: anime1 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    box-shadow: 3px black;
}
@keyframes anime1{
    25%{
        transform: translate(0,-10px);
    }
    50%{
        transform: translate(0,10px);
    }
    75%{
        transform: translate(0,-10px);
    }
}
.about{
    margin-left: 100px;
    margin-right: 0;
    margin-top: 30px;
}

.about h1{
    color: #00abf0;
}
.about .child1{
    width: 90%;
    position: relative;
    letter-spacing: 1px;
    top: 50px;
    left: 30px;
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 8px;
    border-color: white;
    border-radius: 50px;
    padding: 50px;
    background-color: #081b29;
    color: #FFFFFF;
}
.achieve{
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 50px;
    left:0;
}
.achieve .content{
    position: absolute;
    top: 120px;
    border: solid 8px;
    border-radius: 100px;
    width: 42%;
    height: 400px;
    background-color: white;
    color: #00abf0;
}
.achieve .child2{
    position: relative;
    width: 100%;
    top: 50px;
    padding-right: 20px;
    left: 30px;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.achieve .child3{
    position: relative;
    top: 50px;
    left: 40px;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}
.para_img{
    margin-left: 25px;
}
.para_img img{
    height: 80px;
    width: 80px;
    padding: 10px;
}
.achieve .cnt1{
    position: relative;
    left:380px;
    top:120px;
    border: 8px solid;
    border-radius: 100px;
    width: 45%;
    height: 400px;
    background-color: #00abf0;
    color: white;
}
.achieve .cnt1 p{
    font-size:30px;
    position: relative;
    top: 60px;
    left: 40px;
}
.cnt1 .certify{
    position: relative;
    width: 85%;
    top: 90px;
    left: 50px;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 25px;
}
.contact h1{
    margin-left: 6%;
}
.ctc{
    display: flex;
    margin-left: 30%;
    width: 40%;
    position: relative;
    top: 250px;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 20px;
}
.ctc img{
    height: 30px;
    width: 30px;
    padding:1px;
    position: relative;
    bottom: 5px;
    left: 5px;
}
.child2 a{
    text-decoration: underline;
    color: #00abf0;
}
.Projects{
    width: 80%;
    height: 400px;
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.Projects h1{
    font-size: 45px;
    color: #00abf0;
    text-decoration: underline;
}
.Projects h2{
    margin-left:0px;
    margin-top: 120px;
    padding-left: 20px;
    padding-top: 120px;
    font-size: 40px;
    background-image: url(item1.png);
    width: 28%;
    height: 350px;
    border-radius: 50px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0;
}
.Projects h2:hover{
    transform: scale(1.05);
}
.Projects a{
    text-decoration: none;
    color: white;
}
.Projects .img2{
    margin-left: 100px;
    margin-top: 115px;
    height: 350px;
    width: 290px;
    border-radius: 40px;
}
.Projects .img3{
    margin-left: 100px;
    margin-top: 115px;
    height: 350px;
    width: 350px;
    border-radius: 40px;
}

.grd{
    display: flex;
    gap: 75px;
    text-align: start;
    margin: 130px 0 0 270px;
}
.grd .P1{
    width: 290px;
    text-align: justify;
}
.grd .P2{
    width: 270px;
    text-align: justify;
}
.grd .P3{
    width: 290px;
    text-align: justify;
}
@media screen and (max-width:900px){
    .home{
        flex-direction: column;
    }
}